@font-face {
    src: url('SYSans.otf');
}

#statusLabel {
    -fx-font-size: 30;
}

#btn0 {
    -jfx-button-type: FLAT;
    -fx-text-fill: GRAY;
    -fx-font-size: 14;
    -fx-background-color: transparent;
}

.root {
    -fx-font-family: "Source Han Sans CN Normal";
    -fx-font-size: 22;
}

.jfx-button {
    -fx-background-color: DODGERBLUE;
    -fx-text-fill: WHITE;
}

.jfx-text-field {
    -jfx-focus-color: DODGERBLUE;
}

.jfx-progress-bar > .bar {
    -fx-background-color: DODGERBLUE;
}